{% extends "reservation/index.html" %}
{% load static %}
    {% block css_maybe %}
    <link rel="stylesheet" type="text/css" href="{% static 'reservation/nav.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'reservation/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'reservation/monForm.css' %}">
    {% endblock %}
{% block content %}
<div class="signIn">
<form id="register" action="{% url 'reservation:registered' %}" method="post">

        <h2>Inscription</h2>
    {% csrf_token %}

            <div class="monInput">
                <input id="user_name" name="user_name" placeholder="Nom">
                <input id="user_firstname" name="user_firstname" placeholder="Prénom">
                <input id="user_email" name="user_email" placeholder="E-mail">
                <input type="password" id="user_pwd" name="user_pwd" placeholder="Mot de passe">
            </div>
                <a href="{% url 'reservation:registered' %}"><input class="jeTeste" type="submit" value="Enregistrer">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>

                </a>


</form>
</div>
{% endblock %}